.container {
    border-radius: 5px;
    width: 300px;
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 60px auto;
    box-shadow: gainsboro 2px 4px 4px;
    text-align: center;
}

img {
    width: 100%;
}

.input {
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

a {
    text-align: right;
    text-decoration: none;
}

.button {
    background-color: rgba(71, 71, 255, 0.986);
    
    font-weight: bold;
    color:white;
    display: inline;

}

i.fab.fa-google-plus-square
{
    color:rgb(240, 21, 21);
    font-size: 25px;
    color:
}